body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
  position: relative;
}
#info-container {
  text-align: center;
  margin-bottom: 20px;
}
#ip, #location, #weather {
  font-size: 24px;
  font-weight: bold;
  padding: 10px 20px;
  border: 2px solid #333;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}
#map {
  width: 80%;
  height: 400px;
  border: 2px solid #333;
  border-radius: 5px;
}
.post-it {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
}
.post-it img {
  width: 150px; /* Adjust the width and height based on your image */
  height: auto;
  cursor: pointer;
}

.godahelgi {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 24px;
  font-weight: bold;
  padding: 10px 20px;
  border: 2px solid #333;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.godahelgi a {
  cursor: pointer;
  text-decoration: none;
  font-size: 24px;
  color: black;
  font-weight: bold;
}